.grid-container {                                                    
    display: grid;
    gap: 20px;
    max-width: 1400px;
    margin: 20px auto;
    padding: 15px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

body{

  
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"width" 100;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'DynaPuff', sans-serif;
    background: #f5f5f5;
    background-color: red;

}

.slideshow-wrap {
  width: 90%;
  max-width: 900px;
  flex-wrap: nowrap;
  flex-direction: row;
    display: flex;
  margin: auto;
}


.slideshow {
    margin: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.72);
  
  
}

.slideshow:hover{
    cursor: pointer;
}


.slide {
  width: 100%;
  display: none;
  object-fit: cover;
  vertical-align: middle;
}

.slide.active {
  display: block;
}

html, body { height: 100%; margin: 0; }


header  { grid-area: header; background: #8C7051; padding: 30px; text-align:center; color:white;min-height: 100px;font-size: 25px; }

main    { grid-area: main; background-color: #F4D8CD; }

footer  { grid-area: footer; background: #3A2E39; padding: 25px; text-align:center; font-size:1.3rem; color:white; }

a {
    color: #946737;
    text-decoration: none;
}

.fejezet-bev{
    text-indent: 50px;
    margin: auto;
    padding: 15px;
    text-align: justify;
    max-width: 80%;
}