.grid-container {                                                    
    display: grid;
    gap: 20px;
    max-width: 1400px;
    margin: 20px auto;
    padding: 15px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

body{

  
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"width" 100;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'DynaPuff', sans-serif;
    background: #f5f5f5;
    background-color: #F4D8CD;
    transition: ease-in-out 0.2s;

}

.txtutan{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    gap: 10px;
    
}
.txtutan div{
    text-align: center;
    margin: 10px;
    padding: 15px 25px;
    background-color: #8C7051;
    border-radius: 8px;
}


.txtutan a{
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.txtutan div:hover {
    background-color: #946737;
    cursor: pointer;
}

:root{
    --vicc: 0%;
}

body.active {
    --vicc: 80%;
}

.vicc{
    position:fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: var(--vicc);
}

.slideshow-wrap {
  width: 60% ;
  max-width: 900px;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  margin: 2%;
  float: left;
}


.slideshow {
    margin: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.72);
  
  
}

.slideshow h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 6rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index:1;
    filter: opacity(0%);
}


@keyframes epilepsy {
    0% { filter: opacity(0%); }
    50% { filter: opacity(100%); }
    100% { filter: opacity(0%); }
  
}

.slideshow:hover h1{
  
    cursor: pointer;
    animation: epilepsy 0.2s infinite cubic-bezier(0.075, 0.82, 0.165, 1) ;
    animation-delay: 1s;
}


.slide {
  width: 100%;
  display: none;
  object-fit: cover;
  vertical-align: middle;
}

.slide.active {
  display: block;
}

html, body { height: 100%; margin: 0; }


header  { grid-area: header; background: #8C7051; padding: 30px; text-align:center; color:white;min-height: 120px;font-size: 25px; }

header h3{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

header p{
    font-size: 1.2rem;
    margin-top: 20px;
}

main    { grid-area: main; background-color: #F4D8CD;}


footer  { grid-area: footer; background: #3A2E39; padding: 25px; text-align:center; font-size:1.3rem; color:white; display: flex;justify-content: center;flex-direction: column; gap: 10px;}

a {
    color: #946737;
    text-decoration: none;
}

a:hover {
    color: #bb9265;
}

footer a{
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}
footer table{
    width: 30%;
    display: flex;
    justify-content: center;
    transform: translateX(-30%);
}

footer div{
    margin: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bevezeto{
    
    margin: auto;
    padding: 15px;
    text-align: justify;
    max-width: 80%;
} 

.bevezeto h1{
    
    margin-bottom: 30px;
}

.bevezeto h3{
    margin-top: 50px;
    text-align: right;
}
.fejezet-bev{
background-image: url(img/peto.png);
background-size: 60% auto; 
background-repeat: no-repeat; 
background-position: right top;

    text-indent: 50px;
    margin: auto;
    text-align: justify;
    

  
}

.fejezet-bev h1{
  margin: auto;
    max-width: 80%;
    margin-bottom: 2%;
    font-size: 2rem;
   
}

.fejezet-bev p{
  margin: auto;
    max-width: 80%;
    line-height: 24px;
    margin-bottom: 4%;
}

@media (max-width: 900px) {
    .slideshow-wrap {
      width: 100%;
      margin: auto;
      float: none;
    }

    .slideshow h1{
        font-size: 3rem;
    }

    .fejezet-bev{
        background-size: 100% auto; 
  
    }
    .fejezet-bev h1{
        font-size: 1.5rem;
        max-width: 95%;
        text-align: center;
    }
    .fejezet-bev p{
      
        max-width: 90%;
    }
    header p{
        font-size: 1rem;
    }

     body.active {
    --vicc: 100%;
    }


    footer a{
        font-size: 1rem;
    }

    footer div{
        flex-wrap: wrap;
        margin: 0px;
        width: 100%;
    }

    .navbar {
    backdrop-filter: none;
  }

  .navbar-container .navbar-menu{
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem;
    position: absolute;
    height: 100vh;
    width: 25px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

.navbar-toggle{
  display: block;
  z-index: 999;

}


}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;

}

.navbar-logo{
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;

}

.navbar-container  .navbar-menu{
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500px;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7 ease;
  white-space: nowrap;

}

.navbar-container  .navbar-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.7 ease;
  white-space: nowrap;


}

.navbar-container  .navbar-menu li a:hover{
  color: #162530;
  background: rgba(188, 212, 229,0.8);
  border: 2px solid #fff;
}

.navbar-toggle{
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;

}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.3 ease-in-out;


}


::-webkit-scrollbar{
    display: none;

}