.grid-container {                                                    
    display: grid;
    gap: 20px;
    max-width: 1400px;
    margin: 20px auto;
    padding: 15px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

body{

  
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"width" 100;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'DynaPuff', sans-serif;
    background: #f5f5f5;
    background-color: #F4D8CD;

}

.slideshow-wrap {
  width: 60% ;
  max-width: 900px;
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  margin: 2%;
  float: left;
}


.slideshow {
    margin: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.72);
  
  
}

.slideshow h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 6rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index:1;
    filter: opacity(0%);
}


@keyframes epilepsy {
    0% { filter: opacity(0%); }
    50% { filter: opacity(100%); }
    100% { filter: opacity(0%); }
  
}

.slideshow:hover h1{
  
    cursor: pointer;
    animation: epilepsy 0.2s infinite cubic-bezier(0.075, 0.82, 0.165, 1) ;
    animation-delay: 1s;
}


.slide {
  width: 100%;
  display: none;
  object-fit: cover;
  vertical-align: middle;
}

.slide.active {
  display: block;
}

html, body { height: 100%; margin: 0; }


header  { grid-area: header; background: #8C7051; padding: 30px; text-align:center; color:white;min-height: 120px;font-size: 25px; }

header h3{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

header p{
    font-size: 1.2rem;
    margin-top: 10px;
}

main    { grid-area: main; background-color: #F4D8CD;}


footer  { grid-area: footer; background: #3A2E39; padding: 25px; text-align:center; font-size:1.3rem; color:white; }

a {
    color: #946737;
    text-decoration: none;
}

.bevezeto{
    
    margin: auto;
    padding: 15px;
    text-align: justify;
    max-width: 80%;
} 

.bevezeto h1{
    
    margin-bottom: 30px;
}

.bevezeto h4{
    margin-top: 50px;
    text-align: right;
}
.fejezet-bev{
background-image: url(img/peto.png);
background-size: 60% auto; 
background-repeat: no-repeat; 
background-position: right top;

    text-indent: 50px;
    margin: auto;
    text-align: justify;
    

  
}

.fejezet-bev h1{
  margin: auto;
    max-width: 80%;
margin-top: 4%;
    margin-bottom: 2%;
}

.fejezet-bev p{
  margin: auto;
    max-width: 80%;
}

@media (max-width: 900px) {
    .slideshow-wrap {
      width: 100%;
      margin: auto;
      float: none;
    }

    .slideshow h1{
        font-size: 3rem;
    }

}