.grid-container {                                                    
    display: grid;
    gap: 20px;
    max-width: 1400px;
    margin: 20px auto;
    padding: 15px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

body{

  
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"width" 100;
  margin: 0px;
    display: flex;
    
    flex-direction: column;

  font-family: 'DynaPuff', sans-serif;
  background: #f5f5f5;
  background-color: red;

}

.slideshow-wrap {
  width: 90%;
  max-width: 900px;
}


.slideshow {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.12);
  background: #000;
  
}

.slideshow:hover{
    cursor: pointer;
}


.slide {
  width: 100%;
  display: none;
  object-fit: cover;
  vertical-align: middle;
}

.slide.active {
  display: block;
}

html, body { height: 100%; margin: 0; }


header  { grid-area: header; background: rgb(170, 170, 170); padding: 30px; text-align:center; }

main    { grid-area: main; background-color: rgb(134, 134, 230); }

footer  { grid-area: footer; background: rgb(170, 170, 170); padding: 25px; text-align:center; font-size:1.3rem; }

.emlekfasz{
  color: rgb(231, 94, 94);
  background-color: rgba(207, 190, 37, 0.61);
}