.grid-container {                                                    /* Fő grid elrendezés */
    display: grid;
    gap: 20px;
    max-width: 1400px;
    margin: 20px auto;
    padding: 15px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

body{

  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    margin: 0px;

}



header  { grid-area: header; background: rgba(0,0,0,0.7); padding: 30px; border: 10px solid gold; border-radius: 20px; text-align:center; }

main    { grid-area: main; background-color: blue; }

footer  { grid-area: footer; background: black; padding: 25px; border: 8px solid lime; text-align:center; font-size:1.3rem; }